.menu {
  padding: 2rem;
  width: 100%;
}

.articles__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-block: 3rem;

  .articles__others {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
