<app-menu-title></app-menu-title>
<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      id="1"
      cardPhoto="https://i.ytimg.com/vi/cc4rcnC5ECM/maxresdefault.jpg"
      cardTitle="Nova Expansão de Guild Wars 2 já está no ar!"
      cardDescription="Embarque em uma aventura épica com a quarta expansão do MMORPG aclamado pela crítica, Guild Wars 2: Secrets of the Obscure."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      smallCardPhoto="https://sm.ign.com/t/ign_br/screenshot/default/images_y2jf.320.jpg"
      smallCardTitle="Marvel divulga trailer da timeline oficial de seus filmes e séries"
    ></app-small-card>
    <app-small-card
      id="3"
      smallCardPhoto="https://cdn.ome.lt/PfG0BSMaaOItVqALfoXpRRpe9hc=/987x0/smart/uploads/conteudo/fotos/ahsoka-audiencia-estreia.jpg"
      smallCardTitle="Ahsoka | Estreia tem audiência abaixo das de Obi-Wan Kenobi e The Mandalorian"
    ></app-small-card>
    <app-small-card
      id="4"
      smallCardPhoto="https://s2-techtudo.glbimg.com/sguGDJvo9OJ5cz_Zs1EFGq0HTyY=/0x0:695x390/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/j/c/fUHqL4TYKKT4Ns5EIm3Q/activision-blizzard-microsoft-compra-call-of-duty-diablo-world-warcraft.jpg"
      smallCardTitle="Microsoft conclui a compra da Activision Blizzard"
    ></app-small-card>
  </div>
</div>
